<div mat-dialog-title>Select action</div>

<mat-dialog-content class="content-container">
  <button mat-flat-button (click)="submitResetMatch()">
    <mat-icon>refresh</mat-icon>
    <span>Reset Match</span>
  </button>
  <button mat-flat-button (click)="submitDeleteMatch()">
    <mat-icon>delete</mat-icon>
    <span>Delete Match</span>
  </button>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelDialog()" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
