@use "helpers";
@use "dimens";
@use "devices";

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.information-header {
  display: block;
  padding: 16px;
  text-align: center;
  font: var(--mat-sys-headline-small);
  font-weight: 500;
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-surface-container-highest);
  border-radius: var(--mat-sys-corner-extra-small);

  @include devices.device(phone, phablet) {
    padding: 8px;
    font: var(--mat-sys-title-large);
    font-weight: 500;
  }
}

.card-content-container {
  display: flex;
  flex-direction: column;
  gap: 18px;

  @include devices.device(phone, phablet) {
    gap: 12px;
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-header {
  display: block;
  padding: 4px;
  text-align: center;
  font: var(--mat-sys-title-large);
  font-weight: 500;
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-surface-container-highest);
  border-radius: var(--mat-sys-corner-extra-small);

  @include devices.device(phone, phablet) {
    font: var(--mat-sys-title-medium);
  }
}

.row-container {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 8px;
  gap: 6px;
  word-break: break-word;
}

.row-label {
  font: var(--mat-sys-title-medium);
  font-weight: 400;
  text-align: start;
}

.row-value {
  font: var(--mat-sys-title-medium);
  font-weight: 500;
  text-align: end;
}
