@use "@angular/material" as mat;
@use "helpers";
@use "devices";

:host {
  height: 100%;
  @include mat.card-overrides((
    elevated-container-shape: var(--mat-sys-corner-small),
    elevated-container-elevation: var(--mat-sys-level1),
    elevated-container-color: var(--mat-sys-surface-bright)
  ));
}

// Component container
.x01-score-input-component-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

// The score card container.
.score-card {
  width: max-content;
  margin: auto;
  font: var(--mat-sys-title-large);
  font-weight: 500;
  color: var(--mat-sys-on-surface);
  text-align: center;

  @include devices.device(phone, phablet) {
    font: var(--mat-sys-title-medium);
    font-weight: 600;
  }

  @include devices.tablet {
    font-weight: 400;
  }
}

// Container for the score card content.
.score-card-content {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  align-items: center;
  grid-gap: 24px;
  padding: 22px 38px !important;

  @include devices.device(phone, phablet) {
    grid-template-columns: repeat(2, 75px);
    grid-gap: 12px;
    padding: 10px 16px !important;
  }

  @include devices.tablet {
    grid-template-columns: repeat(2, 75px);
    padding: 12px 20px !important;
  }
}

// Add an input line for the score input.
$border-size: 2px;
.score-title {
  padding-bottom: $border-size;
}

.score-input {
  border-bottom: $border-size solid var(--mat-sys-primary);

  &.blurred {
    border-bottom-color: color-mix(in srgb, var(--mat-sys-primary) 25%, transparent);
  }
}

// Define the keypad height
app-keypad-component {
  height: 100%;
}
