@use "@angular/material" as mat;
@use "helpers";

:host {
  height: 100%;
  @include mat.card-overrides((
    elevated-container-shape: var(--mat-sys-corner-small),
    elevated-container-elevation: var(--mat-sys-level1),
    elevated-container-color: var(--mat-sys-surface-bright)
  ));
}

.x01-score-input-component-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.score-card {
  width: max-content;
  margin: auto;
  padding: 12px 24px;
  color: var(--mat-sys-on-surface);
}

.score-card-content {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  align-items: center;
  grid-gap: 24px;
}

.score-input, .score-title {
  font: var(--mat-sys-title-large);
  font-weight: 500;
  text-align: center;

  $border-size: 2px;

  &.score-input {
    border-bottom: $border-size solid var(--mat-sys-primary);

    &.blurred {
      border-bottom-color: color-mix(in srgb, var(--mat-sys-primary) 25%, transparent);
    }
  }

  &.score-title {
    padding-bottom: $border-size;
  }
}

app-keypad-component {
  height: 100%;
}
