<div class="table-container" *ngIf="viewData && legSelection">
  <table mat-table [dataSource]="viewData.matchTableDataSource">
    @let roundCol = viewData.columnDefinitions.round ;
    <ng-container [matColumnDef]="roundCol.id">
      <th mat-header-cell *matHeaderCellDef>{{ roundCol.label }}</th>
      <td mat-cell *matCellDef="let rowData">{{ rowData.round }}</td>
    </ng-container>

    @let dartsCol = viewData.columnDefinitions.darts ;
    <ng-container [matColumnDef]="dartsCol.id">
      <th mat-header-cell *matHeaderCellDef>{{ dartsCol.label }}</th>
      <td mat-cell *matCellDef="let rowData">{{ rowData.dartsThrown }}</td>
    </ng-container>

    @for (playerColumnsDefinition of viewData.columnDefinitions.playerColumns; track playerColumnsDefinition) {
      <ng-container [matColumnDef]="playerColumnsDefinition.score.id">
        <th mat-header-cell *matHeaderCellDef>{{ playerColumnsDefinition.score.label }}</th>
        <td mat-cell *matCellDef="let rowData">{{ rowData.players[playerColumnsDefinition.playerId]?.score }}</td>
      </ng-container>

      <ng-container [matColumnDef]="playerColumnsDefinition.remaining.id">
        <th mat-header-cell *matHeaderCellDef>{{ playerColumnsDefinition.remaining.label }}</th>
        <td mat-cell *matCellDef="let rowData">{{ rowData.players[playerColumnsDefinition.playerId]?.remaining }}</td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="viewData.displayedColumns ?? []"></tr>
    <tr mat-row *matRowDef="let row; columns: viewData.displayedColumns ?? []"></tr>
  </table>
</div>
