<mat-toolbar>
  <!-- Title -->
  <a
    class="plain"
    [routerLink]="AppEndpoints.home()">
    Match
  </a>

  <span class="spacer"></span>

  <!-- Loading spinner -->
  @if (loading()) {
    <mat-spinner [diameter]="24"/>
  }

  <!-- Error -->
  @if (error(); as error) {
    <app-error-message [message]="error" [contrast]="true"/>
  }

  <!-- Theme toggle icon -->
  <app-theme-toggle/>

  <!-- More options icon -->
  <button
    mat-icon-button
    type="button"
    aria-label="More options"
    matTooltip="More options"
    [matMenuTriggerFor]="menu"
    (menuOpened)="onMenuOpened()"
    [disabled]="!menuEnabled()">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- More options menu -->
<mat-menu #menu="matMenu">
  @switch (displayedMatchView()) {
    @case ('board') {
      <button
        mat-menu-item
        type="button"
        (click)="toggleMatchView.emit()">
        <mat-icon>analytics</mat-icon>
        <span>Match summary</span>
      </button>
    }
    @case ('summary') {
      <button
        mat-menu-item
        type="button"
        (click)="toggleMatchView.emit()">
        <mat-icon>scoreboard</mat-icon>
        <span>Match board</span>
      </button>
    }
  }

  <button
    mat-menu-item
    type="button"
    (click)="playerSettings.emit()">
    <mat-icon>account_circle</mat-icon>
    <span>Player settings</span>
  </button>

  <button
    mat-menu-item
    type="button"
    (click)="copyMatchLink.emit()">
    <mat-icon>link</mat-icon>
    <span>Copy match link</span>
  </button>

  <button
    mat-menu-item
    type="button"
    (click)="copyMatchId.emit()">
    <mat-icon>content_copy</mat-icon>
    <span>Copy match ID</span>
  </button>

  <button
    mat-menu-item
    type="button"
    (click)="repairMatch.emit()">
    <mat-icon>build</mat-icon>
    <span>Repair match</span>
  </button>

  @if (displayedRematchLink(); as rematchLink) {
    <a mat-menu-item [routerLink]="rematchLink">
      <mat-icon>open_in_browser</mat-icon>
      <span>Open rematch</span>
    </a>
  } @else if (displayedMatchStatus() === MatchStatus.CONCLUDED) {
    <button
      mat-menu-item
      type="button"
      (click)="requestRematch.emit()">
      <mat-icon>repeat</mat-icon>
      <span>Request rematch</span>
    </button>
  }

  <button
    mat-menu-item
    type="button"
    (click)="resetMatch.emit()">
    <mat-icon>replay</mat-icon>
    <span>Reset match</span>
  </button>

  <button
    mat-menu-item
    type="button"
    (click)="deleteMatch.emit()">
    <mat-icon>delete</mat-icon>
    <span>Delete match</span>
  </button>
</mat-menu>
