<mat-toolbar>
  <!-- Title -->
  <a
    class="plain navigate-home-btn"
    (click)="navigateHome.emit()">
    Match
  </a>

  <span class="spacer"></span>

  <!-- Loading spinner -->
  @if (loading()) {
    <mat-spinner [diameter]="24"/>
  }

  <!-- Error -->
  @if (error(); as error) {
    <app-error-message [message]="error" [contrast]="true"/>
  }

  <!-- Theme toggle icon -->
  <app-theme-toggle/>

  <!-- More options icon -->
  <button
    mat-icon-button
    aria-label="More options"
    matTooltip="More options"
    [matMenuTriggerFor]="menu"
    [disabled]="!menuVisible()">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- More options menu -->
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    (click)="copyMatchLink.emit()">
    <mat-icon>link</mat-icon>
    <span>Copy match link</span>
  </button>

  <button
    mat-menu-item
    (click)="copyMatchId.emit()">
    <mat-icon>content_copy</mat-icon>
    <span>Copy match ID</span>
  </button>

  <button
    mat-menu-item
    (click)="repairMatch.emit()">
    <mat-icon>build</mat-icon>
    <span>Repair Match</span>
  </button>

  <button
    mat-menu-item
    (click)="resetMatch.emit()">
    <mat-icon>replay</mat-icon>
    <span>Reset Match</span>
  </button>

  <button
    mat-menu-item
    (click)="deleteMatch.emit()">
    <mat-icon>delete</mat-icon>
    <span>Delete Match</span>
  </button>
</mat-menu>
