<div class="dialog-container">
  <div class="header">
    <h2 mat-dialog-title class="title">
      Are you sure?
    </h2>
  </div>

  <mat-dialog-content class="content">
    <p class="subtitle">{{ action }}</p>
  </mat-dialog-content>

  <mat-dialog-actions class="actions" align="end">
    <button
      mat-button
      [mat-dialog-close]="false">
      Cancel
    </button>

    <button
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial>
      Ok
    </button>
  </mat-dialog-actions>
</div>
