<div class="header-container">
  @if (matIcon) {
    <mat-icon class="icon">{{ matIcon }}</mat-icon>
  }
  @if (title) {
    <h2 class="title" >{{ title }}</h2>
  }
</div>

<mat-dialog-content>
  @if (subTitle) {
    <h3 class="subtitle">{{ subTitle }}</h3>
  }
  @if (contentText) {
    <p>{{ contentText }}</p>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  @if (isCancelable) {
    <button mat-button mat-dialog-close>{{ cancelText }}</button>
  }
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{ confirmText }}</button>
</mat-dialog-actions>
