<mat-toolbar>
  <a [routerLink]="AppEndpoints.home()" class="plain navigate-home-btn">X01 Match</a>
  <span class="spacer"></span>
  @if (errorMsg) {
    <span class="errorMsg">{{ errorMsg }}</span>
  }
  @if (webSocketClosed) {
    <mat-spinner [diameter]="40"></mat-spinner>
  }

  @if (this.match) {
    <app-theme-toggle></app-theme-toggle>
    <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More Options">
      <mat-icon>more_vert</mat-icon>
    </button>
  }
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="togglePageType()">
      <mat-icon>scoreboard</mat-icon>
      <span>
          @switch (currentPageType) {
            @case (X01MatchPageType.MATCH) {
              Open match summary
            }
            @case (X01MatchPageType.MATCH_SUMMARY) {
              Open match summary
            }
          }
      </span>
    </button>
    <button mat-menu-item (click)="copyUrlToClipboard()">
      <mat-icon>content_copy</mat-icon>
      <span>Copy match link</span>
    </button>
    <button mat-menu-item (click)="copyMatchIdToClipboard()">
      <mat-icon>content_copy</mat-icon>
      <span>Copy match id</span>
    </button>
    <button mat-menu-item (click)="publishReprocessMatch()">
      <mat-icon>build</mat-icon>
      <span>Repair Match</span>
    </button>
    <button mat-menu-item (click)="openConfirmResetMatchDialog()">
      <mat-icon>replay</mat-icon>
      <span>Reset Match</span>
    </button>
    <button mat-menu-item (click)="openConfirmDeleteMatchDialog()">
      <mat-icon>delete</mat-icon>
      <span>Delete Match</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="x01-match-page-component-container">
  @if (matchNotFound) {
    <p class="match-not-found">The match could not be found</p>
  }
  @if (matchDeleteEvent) {
    <div class="match-deleted-container">
      <p class="match-deleted">The match was deleted</p>
      <a class="plain" mat-button [routerLink]="AppEndpoints.home()"> Go to home </a>
    </div>
  }
  @switch (currentPageType) {
    @case (X01MatchPageType.MATCH) {
      <app-x01-match [match]="match"></app-x01-match>
    }
    @case (X01MatchPageType.MATCH_SUMMARY) {
      <app-x01-match-summary [match]="match"></app-x01-match-summary>
    }
  }
</div>
