@use "@angular/material" as mat;

.rearrange-player-icon {
  order: 1
}

.delete-player-icon {
  order: 2;
  margin-left: auto;
}

.player-name-container {
  flex: 2 1 0;
}

.player-action-container, .player-avg-container {
  flex: 1 1 0;
}

/* Angular drag and drop animation */
.cdk-drop-list-dragging .cdk-drag, .cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}
