<form class="form" [formGroup]="form" (ngSubmit)="onSubmitForm()">
  <!-- Select X01 -->
  <div class="container-vertical no-gap">
    <label>Select x01</label>
    <mat-radio-group formControlName="x01">
      <mat-radio-button *ngFor="let x01 of matchFormFactory.x01Options" [value]="x01">{{ x01 }}</mat-radio-button>
    </mat-radio-group>
    <app-form-error [control]="form.controls.x01"/>
  </div>

  <!-- Select the best of sets/legs to be played -->
  <div class="container-vertical" formGroupName="bestOf">
    <div class="container-vertical no-gap">
      <label>Select best of type</label>
      <mat-radio-group formControlName="type">
        <mat-radio-button [value]="BestOfType.SETS">Sets</mat-radio-button>
        <mat-radio-button [value]="BestOfType.LEGS">Legs</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="container-horizontal" style="margin-bottom: 12px">
      <div class="container-vertical no-gap number-form-field">
        <mat-form-field subscriptSizing="dynamic" appearance="outline">
          <mat-label>Sets</mat-label>
          <input matInput formControlName="sets" type="number" placeholder="1">
        </mat-form-field>
        <app-form-error [control]="bestOfFormGroup.controls.sets"/>
      </div>

      <div class="container-vertical no-gap number-form-field">
        <mat-form-field subscriptSizing="dynamic" appearance="outline">
          <mat-label>Legs</mat-label>
          <input matInput formControlName="legs" type="number" placeholder="1">
        </mat-form-field>
        <app-form-error [control]="bestOfFormGroup.controls.legs"/>
      </div>

    </div>
  </div>

  <!-- Track checkout percentage option -->
  <div class="container-vertical no-gap">
    <mat-slide-toggle formControlName="trackDoubles">Track Checkout Percentage</mat-slide-toggle>
    <app-form-error [control]="form.controls.trackDoubles"/>
  </div>

  <!-- Add Players -->
  <div class="container-vertical" style="margin-top: 8px" cdkDropList (cdkDropListDropped)="onDropPlayerCard($event)">
    <label>Players</label>

    <!-- Player Cards -->
    <mat-card cdkDrag [formGroup]="$any(player)" *ngFor="let player of playersFormArray.controls; let i = index"
              appearance="outlined">
      <mat-card-content>
        <div class="container-vertical">
          <!-- Select player type -->
          <div class="container-vertical no-gap">
            <div class="container-horizontal no-gap">
              <mat-radio-group formControlName="type">
                <mat-radio-button [value]="PlayerType.HUMAN">Human</mat-radio-button>
                <mat-radio-button [value]="PlayerType.DART_BOT"
                                  [disabled]="isBotSelected && player.getRawValue().type === PlayerType.HUMAN">
                  Bot
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <app-form-error [control]="player.controls.type"/>
          </div>

          <div class="container-horizontal">
            <!-- Create player name -->
            <div class="container-vertical no-gap player-name-container">
              <mat-form-field subscriptSizing="dynamic" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="name" formControlName="name">
                <mat-icon matPrefix matTooltip="Human Player">account_circle</mat-icon>
              </mat-form-field>
              <app-form-error [control]="player.controls.name"/>
            </div>

            <!-- Set Bot Average -->
            <div class="player-avg-container container-vertical no-gap">
              <mat-form-field subscriptSizing="dynamic" class="number-form-field" appearance="outline">
                <mat-label>Avg</mat-label>
                <input matInput type="number" formControlName="avg">
              </mat-form-field>
              <app-form-error [control]="player.controls.avg"/>
            </div>

            <!-- Rearrange player order and remove player -->
            <div class="container-horizontal player-action-container"
                 style="justify-content: space-between; align-self: flex-start">
              <button mat-icon-button cdkDragHandle aria-label="Rearrange Player" type="button"
                      [disabled]="isMinPlayersReached()">
                <mat-icon>drag_indicator</mat-icon>
              </button>

              <button mat-icon-button matTooltip="Remove Player" aria-label="Rearrange Player" (click)="removePlayer(i)"
                      type="button"
                      [disabled]="isMinPlayersReached()">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="container-vertical">
      <app-form-error [control]="playersFormArray"/>
      <button mat-button type="button" (click)="addPlayer()" [disabled]="isMaxPlayersReached()">
        <mat-icon>add</mat-icon>
        <span>Add Player</span>
      </button>
    </div>

  </div>

  <app-form-error [control]="form"/>

  <!-- Submit form button -->
  <button mat-flat-button type="submit">Create Match</button>
</form>
