@use "mixins/helpers";
@use "mixins/devices";

:host {
  @include helpers.module-page;
  gap: 24px;
}

// Header and subheader
.header-container {
  margin-bottom: 8px;
}

.header, .subheader {
  margin: 4px;
  text-align: center;
}

.header {
  font: var(--mat-sys-headline-large);

  @include devices.device(phone, phablet) {
    font: var(--mat-sys-headline-small);
  }
}

.subheader {
  font: var(--mat-sys-headline-small);

  @include devices.device(phone, phablet) {
    font: var(--mat-sys-title-medium);
  }
}

// Create match heading and theme toggle
.create-match-header {
  align-items: center;
  justify-content: space-between;
}

// Page section
.section-container {
  width: 100%;
  max-width: 575px;
}
