@use '@angular/material' as mat;
@use "typography" as custom-typography;
@use "default-theme-colors" as default-theme-colors;

@mixin apply-theme {
  @include mat.theme((
    color: (
      primary: default-theme-colors.$primary-palette,
      tertiary: default-theme-colors.$tertiary-palette
    ),
    typography: custom-typography.$typography-config,
    density: (scale: 0),
  ));

  --swiper-navigation-color: var(--mat-sys-primary);
}
