@let legCards = timeline();

<div class="timeline-component-container">
  <div class="header-container">
    @for (player of match().players; track player.playerId) {
      <div class="name-container">
        <span class="name">{{ player.playerName }}</span>
        <span class="initials">({{ ($index + 1) | playerTag }})</span>
      </div>

      @if (!$last) {
        <div class="name-container">
          <span class="name">vs</span>
        </div>
      }
    }
  </div>

  @for (card of legCards; track card.setNumber + ':' + card.legNumber; let index = $index; let isLast = $last) {
    <app-match-timeline-leg-card [data]="card"/>

    @if (!isLast) {
      <div
        class="divider"
        [class.set-divider]="card.setNumber !== legCards[index + 1].setNumber"
        aria-hidden="true">
      </div>
    }
  }
</div>
