<mat-form-field subscriptSizing="dynamic" appearance="outline">
  <mat-label>
    Select leg (Set {{ legSelection().setEntry.setNumber }})
  </mat-label>

  <mat-select
    [formField]="legSelectionForm.legSelection"
    [compareWith]="compareLegSelection"
    (selectionChange)="onLegSelectionChange($event)">
    @for (setEntry of match().sets; track setEntry.setNumber) {
      <mat-optgroup label="Set {{ setEntry.setNumber }}">
        @for (legEntry of setEntry.set.legs; track legEntry.legNumber) {
          <mat-option [value]="{setEntry: setEntry, legEntry: legEntry}">
            Leg {{ legEntry.legNumber }}
          </mat-option>
        }
      </mat-optgroup>
    }
  </mat-select>
</mat-form-field>
