@use "@angular/material" as mat;
@use "helpers";
@use "devices";

:host {
  @include helpers.dark-mode {
    @include mat.button-overrides((
      filled-container-color: var(--mat-sys-surface-bright),
      filled-label-text-color: var(--mat-sys-on-surface)
    ));
  }
}

// The container holding the key buttons.
.keypad-component-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 4px;

  // Key button styles.
  button {
    height: 100%;
    width: 100%;
    font: var(--mat-sys-title-large);
    font-weight: 500;

    @include devices.device(phone, phablet) {
      font: var(--mat-sys-title-medium);
      font-weight: 600;
    }

    @include devices.tablet {
      font-weight: 400;
    }
  }
}
