@use "helpers";
@use "dimens";
@use "devices";

:host {
  width: 100%;
  height: 100%;

  @include devices.device(phone, phablet) {
    width: 90dvw;
  }
}

.tab-group {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tab-content-container {
  padding: 8px;
}
