<mat-tab-group class="tab-group" mat-align-tabs="center" mat-stretch-tabs="false">
  <mat-tab label="Information">
    <div class="tab-content-container">
      <app-x01-match-information [match]="match"/>
    </div>
  </mat-tab>
  <mat-tab label="Statistics">
    <div class="tab-content-container">
      <app-x01-match-statistics [match]="match"/>
    </div>
  </mat-tab>
  <mat-tab label="Timeline">
    <div class="tab-content-container">
      <app-x01-match-timeline/>
    </div>
  </mat-tab>
</mat-tab-group>
