<div class="home-page-component-container">
  <div class="header-container">
    <h1 class="title">Darts Matcher</h1>
    <h2 class="subtitle">Create, play and share your darts matches.</h2>
  </div>

  <div class="form-container">
    <h3>Create Match</h3>
    <app-match-form (validForm)="onMatchFormResult($event)" [loading$]="createMatchLoading$"></app-match-form>
  </div>

  <div class="form-container">
    <h3>Go to match page</h3>
    <app-match-id-form (validForm)="onMatchIdResult($event)" [loading$]="getMatchExistsLoading$"></app-match-id-form>
  </div>

  <div class="form-container">
    <h3>Recent Matches</h3>
    <app-recent-matches></app-recent-matches>
  </div>
</div>
