@use "helpers";
@use "devices";

.home-page-component-container {
  @include helpers.module-page();
  gap: 24px;
}

.header-container {
  margin-bottom: 8px;
}

.create-match-header {
  align-items: center;
  justify-content: space-between
}

.title {
  font: var(--mat-sys-headline-large);

  @include devices.device(phone, phablet) {
    font: var(--mat-sys-headline-small);
  }
}

.subtitle {
  font: var(--mat-sys-headline-small);

  @include devices.device(phone, phablet) {
    font: var(--mat-sys-title-medium);
  }
}

.title, .subtitle {
  margin: 4px;
  text-align: center;
}

.form-container {
  width: 100%;
  max-width: 575px;
}
