@let displayScoreInput = (match?.matchStatus === MatchStatus.IN_PLAY) ;
<div *ngIf="match" class="x01-match-component-container" [class.keyboard-visible]="displayScoreInput">
  <div class="scrollable-content">
    <app-x01-match-info [match]="match"/>
    <app-x01-match-player-cards [match]="match" [legSelection]="selectedLeg"/>
    <div class="app-edit-options">
      <button class="open-edit-dialog-btn" mat-icon-button (click)="deleteLastTurn()" matTooltip="Undo last score">
        <mat-icon>undo</mat-icon>
      </button>
      <app-select-leg-form [match]="match" [(selectedLeg)]="selectedLeg"/>
      <button class="toggle-edit-mode-btn" mat-icon-button matTooltip="Edit score" (click)="editScoreMode = !editScoreMode">
        <mat-icon>content_cut</mat-icon>
      </button>
    </div>
    <div class="app-leg-table">
      <app-x01-match-leg-table [match]="match" [legSelection]="selectedLeg" [(editMode)]="editScoreMode" (submitScoreEdit)="onEditScoreResult($event)"/>
    </div>
  </div>
  <div class="error-label">{{ errorMsg }}</div>

  <app-x01-score-input *ngIf="displayScoreInput" (submitScoreEvent)="onSubmitScore($event)" #scoreInputComponent/>
</div>
