@use "@angular/material" as mat;

:host {
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.x01-match-component-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 7fr max-content minmax(286px, 3fr);
  overflow-y: auto;
  gap: 12px;

  &:not(.keyboard-visible) {
    grid-template-rows: 7fr max-content;
  }
}

.scrollable-content {
  width: 100%;
  display: grid;
  grid-template-rows: max-content max-content max-content minmax(160px, 1fr);
  overflow-y: auto;
  gap: 18px;
}

.app-edit-options {
  display: grid;
  width: 100%;
  max-width: 500px;
  padding: 0 4px;
  gap: 4px;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  justify-self: center;
}

.select-leg-form-field {
  width: 100%;
}

.app-leg-table {
  overflow-y: auto;
}

.error-label {
  text-align: center;
  font: var(--mat-sys-title-medium);
  color: var(--mat-sys-error);
  height: var(--mat-sys-title-medium-line-height);
}
