/* You can add global styles to this file, and also import other style files */
html, body, app-root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  font-family: var(--mat-sys-body-medium-font), serif;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 575px;
  border-radius: var(--mat-sys-corner-small);
  border: 1px solid var(--mat-sys-outline);
  padding: 20px;
  gap: 12px;
}

.container-horizontal, .container-vertical {
  display: flex;
  gap: 12px;

  &.no-gap {
    gap: 0;
  }
}

.container-horizontal {
  flex-direction: row;
}

.container-vertical {
  flex-direction: column;
}

.gap-12 {
  gap: 12px;
}

.number-form-field {
  max-width: 125px;
}

/* Allows for resizing mat-form-field */
.mat-mdc-form-field-infix {
  width: 100% !important;
}

mat-form-field {
  width: 100%;
}
