.error-message {
  max-width: 100%;
  color: var(--mat-sys-error);
  font: var(--mat-sys-body-medium);
}

.error-message.contrast {
  padding: 0.25rem 0.5rem;
  border-radius: var(--mat-sys-corner-small);
  color: var(--mat-sys-on-error-container);
  background: var(--mat-sys-error-container);
}
