<div class="dialog-container">
  @if (matIcon || title) {
    <div
      class="header"
      [class.hero]="matIcon">

      @if (matIcon) {
        <mat-icon class="icon">{{ matIcon }}</mat-icon>
      }

      @if (title) {
        <h2 mat-dialog-title class="title">
          {{ title }}
        </h2>
      }
    </div>
  }

  @if (subtitle || contentText) {
    <mat-dialog-content class="content">
      @if (subtitle) {
        <h3 class="subtitle">{{ subtitle }}</h3>
      }

      @if (contentText) {
        <p class="body">{{ contentText }}</p>
      }
    </mat-dialog-content>
  }

  <mat-dialog-actions class="actions" align="end">
    @if (isCancelable) {
      <button mat-button [mat-dialog-close]="dismissedResult">
        {{ cancelText }}
      </button>
    }

    @if (confirmLink) {
      <a
        mat-button
        [routerLink]="confirmLink"
        [mat-dialog-close]="confirmedResult"
        cdkFocusInitial>
        {{ confirmText }}
      </a>
    } @else {
      <button
        mat-button
        [mat-dialog-close]="confirmedResult"
        cdkFocusInitial>
        {{ confirmText }}
      </button>
    }
  </mat-dialog-actions>
</div>
