.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-top: 20px;
  padding: 12px;
}

.title {
  margin: 0;
  font: var(--mat-sys-title-large);
}

.subtitle {
  font: var(--mat-sys-title-medium);
  text-align: left;
}
