@if (viewData && legSelection) {
  <div class="players-container">
    @let selectedSet = viewData.sets[legSelection.setEntry.setNumber] ;
    @let selectedLeg = selectedSet?.legs?.[legSelection.legEntry.legNumber] ;
    @for (playerEntry of selectedLeg?.players ?? {} | keyvalue; track playerEntry.key) {
      @if (playerEntry.key && playerEntry.value) {
        @let playerId = playerEntry.key ;
        @let playerLegStats = playerEntry.value ;
        @let playerInfo = viewData.playerInfo[playerId] ;
        <div class="player-overview-container"
             [ngClass]="{
           'current-thrower': viewData.currentPlayer === playerId,
           'starts-leg': selectedLeg?.startsLeg === playerId,
           'win-or-draw': playerInfo.matchResult === ResultType.WIN || playerInfo.matchResult === ResultType.DRAW
           }">
          <mat-card class="player-info-card">
            <span class="player-name">{{ playerInfo?.name }}</span>
            <span class="player-score">
            @if (match?.matchSettings?.bestOf?.bestOfType === X01BestOfType.SETS) {
              Score: {{ playerLegStats.setsWon }} ({{ playerLegStats.legsWonInSet }})
            } @else {
              Score: {{ playerLegStats.legsWonInSet }}
            }
            </span>
          </mat-card>
          <mat-card class="player-stats-card">
            <span class="remaining">{{ playerLegStats.remaining }}</span>
            <span class="checkout-hint">{{ playerLegStats.suggestedCheckout }}</span>
            <div class="divider-1"></div>
            <div class="stat-container three-dart">
              <span class="stat-label">3-Dart</span>
              <span class="stat-value">{{ playerInfo?.threeDartAvg ?? '-' }}</span>
            </div>
            <div class="divider-2"></div>
            <div class="stat-container first-nine">
              <span class="stat-label">First 9</span>
              <span class="stat-value">{{ playerInfo?.firstNineAvg ?? '-' }}</span>
            </div>
            <div class="divider-3"></div>
            <div class="stat-container last-score">
              <span class="stat-label">Last</span>
              <span class="stat-value">{{ playerLegStats.lastScore ?? '-' }}</span>
            </div>
            <div class="divider-4"></div>
            <div class="stat-container darts-used">
              <span class="stat-label">Darts</span>
              <span class="stat-value">{{ playerLegStats.dartsUsed }}</span>
            </div>
          </mat-card>
        </div>
      }
    }
  </div>
}
