@use "@angular/material" as mat;
@use "helpers";

:host {
  width: 100%;

  @include mat.card-overrides((
    elevated-container-shape: var(--mat-sys-corner-small),
    elevated-container-elevation: var(--mat-sys-level1),
    elevated-container-color: var(--mat-sys-surface-bright)
  ));

  @include helpers.dark-mode {
    @include mat.card-overrides((
      elevated-container-color: var(--mat-sys-surface-container-high)
    ));
  }
}

.players-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.player-overview-container {
  width: 100%;
  max-width: 50%;
  flex-direction: column;
  display: flex;
  gap: 24px;

  &.starts-leg {
    .player-score-card {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        width: 36px;
        height: 36px;
        background-color: var(--mat-sys-primary);
        clip-path: polygon(100% 0, 0 0, 100% 100%);
        border-top-right-radius: var(--mat-sys-corner-small);
        z-index: 1;
      }
    }
  }

  &.current-thrower {
    .player-info-card, .player-score-card {
      border-color: var(--mat-sys-primary);
    }
  }

  &.win-or-draw {
    .player-info-card {
      background-color: var(--mat-sys-secondary);
      color: var(--mat-sys-on-secondary);
    }
  }
}

.player-info-card, .player-score-card {
  border: 2px solid transparent;
}

.player-info-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
}

.player-score {
  font: var(--mat-sys-title-large);
  min-height: var(--mat-sys-title-large-line-height);
}

.player-name {
  font: var(--mat-sys-headline-large);
  min-height: var(--mat-sys-headline-large-line-height);
}

.player-score-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto 1fr;
  gap: 12px;
  padding: 8px;

  > * {
    text-align: center;
  }

  .remaining {
    grid-column: 1 / -1;
    font: var(--mat-sys-display-large);
    min-height: var(--mat-sys-display-large-line-height);
  }

  .checkout-hint {
    grid-column: 1 / -1;
  }

  .checkout-hint, .three-dart, .darts-used, .last-score, .first-nine {
    font: var(--mat-sys-title-large);
    min-height: var(--mat-sys-title-large-line-height);
  }
}

.score-stats-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
